{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="">
  <title>Frog Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="{% url "home" %}">
        <img src="{% static "images/header-logo.svg" %}" alt="The Frog Collector Logo">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url "frog-index" %}">All Frogs</a></li>
        <li><a href="{% url "lilypad-index" %}">All Lily pads</a></li>
        <li><a href="{% url "frog-create" %}">Add a Frog</a></li>
        <li><a href="{% url "lilypad-create" %}">Add a Lily pad</a></li>
        <li><a href="{% url "about" %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>